@charset 'utf-8';
body{margin:0 auto;}
.fz20{font-size:calc(100vw * (20 / 640));line-height:1;letter-spacing:calc(100vw * (-0.2 / 640))}
.bg_wrap{padding-bottom:calc(100vw * (30 / 640)); position:relative;}
.back{width: calc(100vw * (27 / 640));
    height: calc(100vw * (35 / 640));
    display: block;
    background-image: url(../img/review/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute; top:calc(100vw * (50 / 640)); left:calc(100vw * (40 / 640));}
.view_content_wrap{padding: calc(100vw * (75 / 640)) calc(100vw * (40 / 640)) calc(100vw * (100/640));min-height:80vh;box-sizing:border-box;}
.bg_wrap h1{color:#fff; font-size:calc(100vw * (22 / 640)); margin:0 auto; position:absolute; top:calc(100vw * (56 / 640)); left:calc(100vw * (244 / 640)); font-family:'MG050';letter-spacing:calc(100vw * (-0.22 / 640))}
.bg_wrap>img{text-align:center; width:calc(100vw * (32/640)); height:auto; margin:0 auto; display:block; padding-top:calc(100vw * (135 / 640)); padding-bottom:calc(100vw * (14/640));}
.bg_wrap>p{text-align:center; color:#fff; font-size:calc(100vw * (25/640)); line-height:1.6;letter-spacing:calc(100vw * (-1.5 / 640))}
.category{border-top:calc(100vw * (1/640)) solid #888; padding:calc(100vw * (6.5/640)) 0 0;}
div.review_wrap ul.product_category{
     margin-top:calc(100vw * (31 / 640)); padding-left:calc(100vw * (5/640));width:100%; height:calc(100vw * (70 / 640));white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(100vw * (20 / 640))
}
div.review_wrap ul.product_category2{
     margin-top:calc(100vw * (31 / 640)); padding-left:calc(100vw * (5/640));width:100%; height:auto;white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(100vw * (40 / 640))
}
div.review_wrap ul.product_category::-webkit-scrollbar{
     display:none;
}
div.review_wrap ul.product_category2::-webkit-scrollbar{
     display:none;
}
div.review_wrap ul.product_category1 li {
    min-width:calc(100vw * (162 / 640));
    padding: 0 calc(100vw * (40 / 640));
    height: calc(100vw * (50 / 640));
    display: inline-block;
    border-radius: calc(100vw * (30 / 640));
    position: relative;
    margin-right: calc(100vw * (12 / 640));
    border: 1px solid rgba(0,0,0,.3);
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (50 / 640));
    color: #888; text-align:center;box-sizing:border-box;}
div.review_wrap ul.product_category2 li {
    width:calc(100vw * (150 / 640));
    height: calc(100vw * (145 / 640));
    padding:calc(100vw * (20/640)) calc(100vw * (15/640));
    display: inline-block;
    border-radius: calc(100vw * (30 / 640));
    position: relative;
    margin-right: calc(100vw * (15 / 640));
    border: 1px solid rgba(0,0,0,.5);
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (25 / 640));
    color: #a5a5a5;box-sizing:border-box;}
div.review_wrap ul.product_category2 li p{color:#a5a5a5; font-size:calc(100vw * (18/640));width:calc(100vw * (123/640));}
div.review_wrap ul.product_category2 li p.p_right{position:absolute; right:calc(100vw * (15/640)); bottom:calc(100vw * (15/640));margin-top:calc(100vw * (40/640)); width:calc(100vw * (20/640));}
div.review_wrap ul.product_category li.active {
    background-color: #000;
    border:none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    color:#fff;}
    div.review_wrap ul.product_category2 li.on {
    background-color: #68c0b5;
    border:none;}
    div.review_wrap ul.product_category2 li.on p{color:#fff;}

.product_list{margin-top:calc(100vw * (30/640)); display:flex; flex-flow:row wrap;}
.product_list li{width:calc(100vw * (150/640));
    height: calc(100vw * (145 / 640)); padding:calc(100vw * (20/640)) calc(100vw * (15/640)); float:left;
    border-radius: calc(100vw * (30 / 640));
    position: relative; margin-right: calc(100vw * (40 / 640));font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (25 / 640)); color:#fff; background:#68c0b5; margin-bottom:calc(100vw * (40/640));box-sizing:border-box;
;}
.product_list li:nth-of-type(3n){margin-right:0;}
.product_list li>img{position:absolute; right:calc(100vw * (-10/640)); top:calc(100vw * (-10/640)); width:calc(100vw * (46/640)); height:calc(100vw * (46/640)); display:block;}
.product_list li p{color:#fff; font-size:calc(100vw * (18/640));line-height:1.56}
.product_list li p.p_right{position:absolute; right:calc(100vw * (15/640)); bottom:calc(100vw * (15/640));margin-top:calc(100vw * (40/640)); width:calc(100vw * (20/640));}
.fix_menu{width:100%; background:#68c0b5; padding:calc(100vw * (30 / 640)) 0; position:fixed; bottom:0; }
.fix_menu p{text-align:center; color:#fff; font-size:calc(100vw * (30 / 640));line-height:1.2}

@media all and (min-width:820px){
body{margin:0 auto;}
.fz20{font-size:calc(800px * (20 / 640));line-height:1;letter-spacing:calc(800px * (-0.2 / 640))}
.bg_wrap{padding-bottom:calc(800px * (30 / 640)); position:relative;}
.back{width: calc(800px * (27 / 640));
    height: calc(800px * (35 / 640));
    display: block;
    background-image: url(../img/review/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute; top:calc(800px * (50 / 640)); left:calc(800px * (40 / 640));}
.view_content_wrap{padding: calc(800px * (75 / 640)) calc(800px * (40 / 640)) calc(800px * (100/640));min-height:80vh;box-sizing:border-box;}
.bg_wrap h1{color:#fff; font-size:calc(800px * (22 / 640)); margin:0 auto; position:absolute; top:calc(800px * (57 / 640)); left:calc(800px * (244 / 640));letter-spacing:calc(800px * (-0.22 / 640))}
.bg_wrap>img{text-align:center; width:calc(800px * (32/640)); height:auto; margin:0 auto; display:block; padding-top:calc(800px * (135 / 640)); padding-bottom:calc(800px * (14/640));}
.bg_wrap>p{text-align:center; color:#fff; font-size:calc(800px * (25/640)); line-height:1.6;letter-spacing:calc(800px * (-1.5 / 640))}
.category{border-top:calc(800px * (1/640)) solid #888; padding:calc(800px * (6.5/640)) 0 0;}
div.review_wrap ul.product_category{
     margin-top:calc(800px * (31 / 640)); padding-left:calc(800px * (5/640));width:100%; height:calc(800px * (70 / 640));white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(800px * (20 / 640))
}
div.review_wrap ul.product_category2{
     margin-top:calc(800px * (31 / 640)); padding-left:calc(800px * (5/640));width:100%; height:auto;white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(800px * (40 / 640));
}
div.review_wrap ul.product_category::-webkit-scrollbar{
     display:none;
}
div.review_wrap ul.product_category2::-webkit-scrollbar{
     display:none;
}
div.review_wrap ul.product_category1 li {
    min-width:calc(800px * (162/640));
    padding: 0 calc(800px * (40 / 640));
    height: calc(800px * (50 / 640));
    display: inline-block;
    border-radius: calc(800px * (30 / 640));
    position: relative;
    margin-right: calc(800px * (12 / 640));
    border: 1px solid rgba(0,0,0,.3);
    font-size: calc(800px * (18 / 640));
    line-height: calc(800px * (50 / 640));
    color: #888; text-align:center;}
div.review_wrap ul.product_category2 li {
    width:calc(800px * (150/640));
    height: calc(800px * (145 / 640));
    padding:calc(800px * (20/640)) calc(800px * (15/640));
    display: inline-block;
    border-radius: calc(800px * (30 / 640));
    position: relative;
    margin-right: calc(800px * (15 / 640));
    border: 1px solid rgba(0,0,0,.5);
    font-size: calc(800px * (18 / 640));
    line-height: calc(800px * (25 / 640));
    color: #a5a5a5;}
div.review_wrap ul.product_category2 li p{color:#a5a5a5; font-size:calc(800px * (18/640));width:calc(800px * (123/640));}
div.review_wrap ul.product_category2 li p.p_right{position:absolute; right:calc(800px * (15/640)); bottom:calc(800px * (15/640));margin-top:calc(800px * (40/640)); width:calc(800px * (20/640));}
div.review_wrap ul.product_category li.active {
    background-color: #000;
    border:none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    color:#fff;}
    div.review_wrap ul.product_category2 li.on {
    background-color: #68c0b5;
    border:none;}
    div.review_wrap ul.product_category2 li.on p{color:#fff;}

.product_list{margin-top:calc(800px * (30/640)); display:flex; flex-flow:row wrap;}
.product_list li{width:calc(800px * (150/640));
    height: calc(800px * (145 / 640)); padding:calc(800px * (20/640)) calc(800px * (15/640)); float:left;
    border-radius: calc(800px * (30 / 640));
    position: relative; margin-right: calc(800px * (40 / 640));font-size: calc(800px * (18 / 640));
    line-height: calc(800px * (25 / 640)); color:#fff; background:#68c0b5; margin-bottom:calc(800px * (40/640));
;}
.product_list li:nth-of-type(3n){margin-right:0;}
.product_list li>img{position:absolute; right:calc(800px * (-10/640)); top:calc(800px * (-10/640)); width:calc(800px * (46/640)); height:calc(800px * (46/640)); display:block;}
.product_list li p{color:#fff; font-size:calc(800px * (18/640));line-height:1.56}
.product_list li p.p_right{position:absolute; right:calc(800px * (15/640)); bottom:calc(800px * (15/640));margin-top:calc(800px * (40/640)); width:calc(800px * (20/640));}
.fix_menu{width:100%; max-width:800px; background:#68c0b5; padding:calc(800px * (30 / 640)) 0; position:fixed; bottom:0; }
.fix_menu p{text-align:center; color:#fff; font-size:calc(800px * (30 / 640));line-height:1.2}
}
