@charset 'utf-8';
div#faq_wrap ul.product_category{
     margin-top:calc(100vw * (70 / 640));padding-left:calc(100vw * (40 / 640));width:100%;height:calc(100vw * (70 / 640));white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(100vw * (11 / 640))
}
div#faq_wrap ul.product_category::-webkit-scrollbar{
     display:none;
}
div#faq_wrap ul.product_category li {
    width: auto;
    padding: 0 calc(100vw * (60 / 640));
    height: calc(100vw * (50 / 640));
    display: inline-block;
    border-radius: calc(100vw * (30 / 640));
    position: relative;
    margin-right: calc(100vw * (12 / 640));
    border: 1px solid rgba(255,255,255,.5);
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (50 / 640));
    color: #fff;
}
   div#faq_wrap ul.product_category li.active {
    background-color: #fff;
    border:none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    color:#68c0b5;
}

div#faq_wrap ul.product_category li:nth-of-type(4){margin-right:calc(100vw * (70 / 640));}
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(100vw * (30/640)) calc(100vw * (30/640)) 0 0; margin:0 auto; padding:calc(100vw * (66 / 640)) calc(100vw * (40 / 640)) calc(100vw * (180/640))
}
.bg_wrap h1{color:#fff; font-size:calc(100vw * (22 / 640)); margin:0 auto; position:absolute; top:calc(100vw * (56 / 640)); left:calc(100vw * (300 / 640));}
.view_content_wrap h2{font-size:calc(100vw * (23/640));font-family:'MG050'}
.margin{margin-bottom:calc(100vw * (50 / 640));}
.main_nav{padding:calc(100vw * (30 / 640)) 0; border-top:1px solid #000; position:relative;}
.nav li:nth-of-type(5){border-bottom:1px solid #000;}
.main_nav .arrow{ position:absolute; right:calc(100vw * (20 / 6400)); top:calc(100vw * (30 / 640)); width:calc(100vw * (29 / 640)); height:calc(100vw * (20 / 640));}
.sub_nav{display:none;}
.line{width:calc(100vw * (60 / 640)); height:calc(100vw * (1/640)); background:#a2a2a2; margin:calc(100vw * (30 / 640)) 0 calc(100vw * (0 / 640));}
.sub_nav li{padding:calc(100vw * (20 / 640)) 0;}
.faq_list{font-size:calc(100vw * (18/640)); line-height:calc(100vw * (33/640)); letter-spacing:calc(100vw * (-1.08/640));}

@media all and (min-width:820px){
div#faq_wrap ul.product_category{
     margin-top:calc(800px * (70 / 640));padding-left:calc(800px * (40 / 640));width:100%;height:calc(800px * (70 / 640));white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:calc(800px * (11 / 640))
}
div#faq_wrap ul.product_category::-webkit-scrollbar{
     display:none;
}
div#faq_wrap ul.product_category li {
    width: auto;
    padding: 0 calc(800px * (60 / 640));
    height: calc(800px * (50 / 640));
    display: inline-block;
    border-radius: calc(800px * (30 / 640));
    position: relative;
    margin-right: calc(800px * (12 / 640));
    border: 1px solid rgba(255,255,255,.5);
    font-size: calc(800px * (18 / 640));
    line-height: calc(800px * (50 / 640));
    color: #fff;}
   div#faq_wrap ul.product_category li.active {
    background-color: #fff;
    border:none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    color:#68c0b5;}

div#faq_wrap ul.product_category li:nth-of-type(4){margin-right:calc(800px * (70 / 640));}
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(800px * (30/640)) calc(800px * (30/640)) 0 0; margin:0 auto; padding:calc(800px * (66 / 640)) calc(800px * (40 / 640)) calc(800px * (180/640))
}
.bg_wrap h1{color:#fff; font-size:calc(800px * (22 / 640)); margin:0 auto; position:absolute; top:calc(800px * (63 / 640)); left:calc(800px * (300 / 640));}
.view_content_wrap h2{font-size:calc(800px * (23/640));}
.margin{margin-bottom:calc(800px * (50 / 640));}
.main_nav{padding:calc(800px * (30 / 640)) 0; border-top:1px solid #000; position:relative;}
.nav li:nth-of-type(5){border-bottom:1px solid #000;}
.main_nav .arrow{ position:absolute; right:calc(800px * (20 / 6400)); top:calc(800px * (30 / 640)); width:calc(800px * (29 / 640)); height:calc(800px * (20 / 640));}
.sub_nav{display:none;}
.line{width:calc(800px * (60 / 640)); height:calc(800px * (1/640)); background:#a2a2a2; margin:calc(800px * (30 / 640)) 0 calc(800px * (0 / 640));}
.sub_nav li{padding:calc(800px * (20 / 640)) 0;}
.faq_list{font-size:calc(800px * (18/640)); line-height:calc(800px * (33/640)); letter-spacing:calc(800px * (-1.08/640));}
}
