@charset 'utf-8';
@media all and (max-width:819px){
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(100vw * (30/640)) calc(100vw * (30/640)) 0 0; margin:calc(100vw * (35/640)) auto 0; padding:calc(100vw * (85 / 640)) calc(100vw * (40/ 640));letter-spacing:calc(100vw * (-1.2 / 640))}
.view_content_wrap h2{font-weight:normal; margin-bottom:calc(100vw * (20/640)); color:#000; line-height:calc(100vw * (35/640));}
.line{width:100%; height:calc(100vw * (3/640)); background:#666;}
.view_content_wrap>p{margin-top:calc(100vw * (50/640));}
.sns_icon img{width:calc(100vw * (47/640)); height:calc(100vw * (47/640));float:left; margin-right:calc(100vw * (19/640));}
.sns_tit{margin-bottom:calc(100vw * (34/640));}
.sns_box{border:calc(100vw * (1/640)) solid #888; padding-top:calc(100vw * (17/640));padding-bottom:calc(100vw * (16 / 640));padding-left:calc(100vw * (44/640));padding-right:calc(100vw * (34 / 640));border-radius:calc(100vw * (33/640)); margin-bottom:calc(100vw * (20/640)); box-sizing:border-box; overflow:hidden;}
.sns_box.active{background:#68c0b5;}
.sns_box>h1,.sns_box .click>h1{width:calc(100vw * (160/640)); display:inline; line-height:calc(100vw * (50/640)); font-weight:normal; font-size:calc(100vw * (20/640)); color:#a5a5a5;}
.sns_box>h1.link_tit{color:#fff;}
.click.active{padding-top:calc(100vw * (10 / 640))}

.sns_box .small{width:calc(100vw * (80/640)); float:right; display:inline; line-height:calc(100vw * (50/640)); transition:.2s; letter-spacing:calc(100vw * (-1.08/640));padding-right:calc(100vw * (7 / 640))}
.sns_box .link_img{float:right; display:inline; margin-top:calc(100vw * (13/640));}
.sns_box .link_img img{width:calc(100vw * (48/640)); height:calc(100vw * (20/640));}
.url_black .url{width:calc(100vw * (182/640)); margin-top:calc(100vw * (20/640));}
.url_black{position:relative;letter-spacing:normal;}
.text_box{width:100%;border-bottom:calc(100vw * (1/640)) solid #000; color:#000; font-size:calc(100vw * (18/640)); padding-bottom:calc(100vw * (5/640));}
.naver_url{ width:calc(100vw * (251/640)); position:absolute; right:0; top:calc(100vw * (0/640));padding-left:calc(100vw * (4 / 640))}
.sns_box .warning{font-size:calc(100vw *(16/640)); width:calc(100vw * (450/640)); letter-spacing:calc(100vw * (-.96/640)); line-height:calc(100vw * (27/640)); margin-top:calc(100vw * (40.5/640));}
.youtube_url{margin-top:calc(100vw * (22/640));}
.last_line{margin:calc(100vw * (16.5/640)) 0;width:100%; height:calc(100vw * (1/640)); background:#000;}
.link_txt{padding-bottom:calc(100vw * (16 / 640));}

.link_txt .btn{text-align:center; color:#fff; background:#c8c8c8; border-radius:calc(100vw * (33/640)); padding:calc(100vw * (12/640)) 0; overflow:hidden; font-size:calc(100vw * (18/640));}
.btn.active{background:#68c0b5; font-size:calc(100vw * (18/640));}
.sns_box .link_txt{display:none;}
.size{font-size:calc(100vw * (18/640));}
}

@media all and (min-width:820px){
.view_content_wrap{max-width:800px;
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(800px * (30/640)) calc(800px * (30/640)) 0 0; margin:calc(800px * (35/640)) auto 0; padding:calc(800px * (85 / 640)) calc(800px * (40/ 640));letter-spacing:calc(800px * (-1.2 / 640))}
.view_content_wrap h2{font-weight:normal; margin-bottom:calc(800px * (20/640)); color:#000; line-height:calc(800px * (35/640)); font-size:calc(800px * (20/640));}
.line{width:100%; height:calc(800px * (3/640));; background:#666;}
.view_content_wrap>p{margin-top:calc(800px * (50/640));}
.sns_icon img{width:calc(800px * (47/640)); height:calc(800px * (47/640));float:left; margin-right:calc(800px * (19/640));}
.sns_tit{margin-bottom:calc(800px * (34/640));}
.sns_box{border:calc(800px * (1/640)) solid #888; padding-top:calc(800px * (17/640));padding-bottom:calc(800px * (16 / 640));padding-left:calc(800px * (44/640));padding-right:calc(800px * (34 / 640));border-radius:calc(800px * (33/640)); margin-bottom:calc(800px * (20/640)); box-sizing:border-box; overflow:hidden;}
.sns_box.active{background:#68c0b5;}
.click.active{padding-top:calc(800px * (10 / 640))}
.sns_box>h1.link_tit{color:#fff;}
.sns_box>h1,.sns_box .click>h1{width:calc(800px * (160/640)); display:inline; line-height:calc(800px * (50/640)); font-weight:normal; font-size:calc(800px * (20/640)); color:#a5a5a5;}
.sns_box .small{width:calc(800px * (80/640)); float:right; display:inline; line-height:calc(800px * (50/640)); transition:.2s; letter-spacing:calc(800px * (-1.08/640));padding-right:calc(800px * (7 / 640)):}
.sns_box .link_img{float:right; display:inline;margin-top:calc(800px * (13/640));}
.sns_box .link_img img{width:calc(800px * (48/640)); height:calc(800px * (20/640));}
.url_black .url{width:calc(800px * (182/640)); margin-top:calc(800px * (20/640));}
.url_black{position:relative;letter-spacing:normal;}
.text_box{width:100%;border-bottom:calc(800px * (1/640)) solid #000; color:#000; font-size:calc(800px * (18/640)); padding-bottom:calc(800px * (5/640));}
.naver_url{ width:calc(800px * (251/640)); position:absolute; right:0; top:calc(800px * (0/640));padding-left:calc(800px * (4 / 640))}
.sns_box .warning{font-size:calc(800px *(16/640)); width:calc(800px * (450/640)); letter-spacing:calc(800px * (-.96/640)); line-height:calc(800px * (27/640)); margin-top:calc(800px * (40.5/640));}
.youtube_url{margin-top:calc(800px * (22/640));}
.last_line{margin:calc(800px * (16.5/640)) 0;width:100%; height:1px; background:#000;}
.link_txt{padding-bottom:calc(800px * (16 / 640));}

.link_txt .btn{text-align:center; color:#fff; background:#c8c8c8; border-radius:calc(800px * (33/640)); padding:calc(800px * (12/640)) 0; overflow:hidden; font-size:calc(800px * (18/640));}
.btn.active{background:#68c0b5; font-size:calc(800px * (18/640));}
.sns_box .link_txt{display:none;}
.size{font-size:calc(800px * (18/640));}

}
