@charset 'utf-8';
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(100vw * (30/640)) calc(100vw * (30/640)) 0 0; margin:calc(100vw * (35/640)) auto 0; padding:calc(100vw * (30 / 640)) calc(100vw * (40 / 640)) calc(100vw * (110/640)); overflow:hidden; box-sizing:border-box;
}
.bg_wrap h1{color:#fff; font-size:calc(100vw * (22 / 640)); margin:0 auto; position:absolute; top:calc(100vw * (56 / 640)); left:calc(100vw * (253 / 640));letter-spacing:calc(100vw * (-0.2 / 640))}
.margin{margin-bottom:calc(100vw * (50 / 640));}
.text .no_margin{margin-bottom:calc(100vw * (10/640));}
.padding{padding-bottom:calc(100vw * (20 / 640));}
.view_content_wrap>img{width:calc(100vw * (231/640)); height:calc(100vw * (231/640));text-align:center; display:block; margin:calc(100vw * (50/640)) auto calc(100vw * (70/640));}
.text_box{border:none; display:block; border-bottom:2px solid rgba(165,165,165,0.5);color:#a5a5a5; width:100%;margin-bottom:calc(100vw * (62 / 640)); padding-bottom:calc(100vw * (10 / 640)); font-size:calc(100vw * (20 / 640)); transition:1s;font-family:'MG050';letter-spacing:calc(100vw * (-0.2 / 640))
}

.basic_info .text_box.last{
     margin-bottom:0
}
h3.tit{padding-bottom:calc(100vw * (10 / 640)); margin-top:calc(100vw * (30/640));}
.active_text{color:#000; border-bottom:calc(100vw * (2/640)) solid #000;font-family:'MG050'}
.text{position:relative;}
.text_btn{width:calc(100vw * (90 / 640)); color:#fff; border-radius:30px; background:#68c0b5; text-align:center; padding:calc(100vw * (3 / 640)) 0; position:absolute; right:0; bottom:calc(100vw * (5 / 640)); line-height:1.7; font-size:calc(100vw * (14 / 640)); font-family:'MG050'}
.check{width:100%;margin-top:calc(100vw * (64 / 640));letter-spacing:calc(100vw * (-1.2 / 640))}
.check li{font-size:calc(100vw * (20 / 640)); float:left; width:50%;}
.check_list{display:inline-block; width:calc(100vw * (20 / 640)); vertical-align:middle; line-height:2; }
.choice li{float:left; font-size:calc(100vw * (25 / 640));line-height:calc(100vw * (60 / 640));margin-right:calc(100vw * (13 / 640)); margin-bottom:calc(100vw * (50 / 640)); background:#fff;  text-align:center; border-radius:50%;width:calc(100vw * (58 / 640)); height:calc(100vw * (58 / 640));}
.choice li:nth-of-type(2){margin-right:0;}
.choice li.active{background:#68c0b5; color:#fff;}
.plus_btn{background:#68c0b5; width:auto; border-radius:calc(100vw * (20/640)); float:right; position:relative;height:calc(100vw * (34 / 640))}
.plus_btn p{ color:#fff; padding-left:calc(100vw * (46/640));padding-right:calc(100vw * (34 / 640));font-size:calc(100vw * (17 / 640));line-height:calc(100vw * (34 / 640))}
.plus_btn img{width:calc(100vw * (18/640)); height:calc(100vw * (16.4/640)); line-height:calc(100vw * (16.4/640)); position:absolute; left:calc(100vw * (24/640)); top:calc(100vw * (8/640));}
.fix_menu{width:100%; background:#68c0b5; padding:calc(100vw * (29 / 640)) 0; position:fixed; bottom:0; font-size:calc(100vw * (30 / 640));z-index:99}
.fix_menu p{text-align:center; color:#fff; font-size:calc(100vw * (30 / 640));line-height:1.2;}
.text_review{margin-bottom:calc(100vw * (100 / 640));}
.checks {position: relative; margin-bottom: calc(100vw * (20/640));}
.checks input[type="radio"] { position: absolute; width:calc(100vw * (1/640)); height:calc(100vw * (1/640)); padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: calc(100vw * (40/640)); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.checks input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top:calc(100vw * (-4/640)); width:calc(100vw * (29/640)); height:calc(100vw * (29/640)); text-align: center; background: #fff; border: 1px solid #000; border-radius: 100%;}
.checks input[type="radio"]:checked + label:before { background: #fff; border-color: #000; }
.checks input[type="radio"]:checked + label:after { content: ''; position: absolute; top:calc(100vw * (4/640)); left:calc(100vw * (8.5/640)); width:calc(100vw * (15/640)); height: calc(100vw * (15/640)); background: #68c0b5; border-radius:50%;}

span.date_wrap::before{
     width:calc(100vw * (21 / 640));height:calc(100vw * (21 / 640));
}
.child_birth_area{
     margin-top:calc(100vw * (40 / 640))
}
@media all and (min-width:820px){
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(800px * (30/640)) calc(800px * (30/640)) 0 0; margin:calc(800px * (35/640)) auto 0; padding:calc(800px * (30 / 640)) calc(800px * (40 / 640)) calc(800px * (110/640)); overflow:hidden; box-sizing:border-box;
}
.bg_wrap h1{color:#fff; font-size:calc(800px * (22 / 640)); margin:0 auto; position:absolute; top:calc(800px * (63 / 640)); left:calc(800px * (263 / 640));}
.margin{margin-bottom:calc(800px * (50 / 640));letter-spacing:calc(800px * (-0.2 / 640))}
.text .no_margin{margin-bottom:calc(800px * (10/640));}
.padding{padding-bottom:calc(800px * (20 / 640));}
.view_content_wrap>img{width:calc(800px * (231/640)); height:calc(800px * (231/640));text-align:center; display:block; margin:calc(800px * (50/640)) auto calc(800px * (70/640));}
.text_box{border:none; display:block; border-bottom:1px solid #a5a5a5; color:#a5a5a5; width:100%; margin-bottom:calc(800px * (62 / 640)); padding-bottom:calc(800px * (10 / 640)); font-size:calc(800px * (20 / 640)); transition:1s; font-family:'MG050';
letter-spacing:calc(800px * (-0.2 / 640))}

.basic_info .text_box.last{
     margin-bottom:0
}
h3.tit{padding-bottom:calc(800px * (10 / 640)); margin-top:calc(800px * (30/640));}
.active_text{color:#000; border-bottom:calc(800px * (2/640)) solid #000; font-family:'MG050'}
.text{position:relative;}
.text_btn{width:calc(800px * (90 / 640)); color:#fff; border-radius:30px; background:#68c0b5; text-align:center; padding:calc(800px * (3 / 640)) 0; position:absolute; right:0; bottom:calc(800px * (5 / 640)); line-height:1.7; font-size:calc(800px * (14 / 640)); font-family:'MG050'}
.check{width:100%;margin-top:calc(800px * (64 / 640));letter-spacing:calc(800px * (-1.2 / 640))}
.check li{float:left; width:50%; font-size:calc(800px * (20 / 640));}
.check_list{display:inline-block; width:calc(800px * (20 / 640)); vertical-align:middle; line-height:2; }
.choice li{float:left; font-size:calc(800px * (25 / 640));line-height:calc(800px * (58 / 640));margin-right:calc(800px * (13 / 640)); margin-bottom:calc(800px * (50 / 640)); background:#fff;text-align:center;border-radius:50%;width:calc(800px * (58 / 640)); height:calc(800px * (58 / 640));}
.choice li:nth-of-type(2){margin-right:0;}
.choice li.active{background:#68c0b5; color:#fff;}
.plus_btn{background:#68c0b5;border-radius:calc(800px * (20/640)); float:right; position:relative;height:calc(800px * (34 / 640))}
.plus_btn p{ color:#fff; padding-left:calc(800px * (46/640));padding-right:calc(800px * (34 / 640));font-size:calc(800px * (17 / 640));line-height:calc(800px * (34 / 640))}
.plus_btn img{width:calc(800px * (18/640)); height:calc(800px * (16.4/640)); line-height:calc(800px * (16.4/640)); position:absolute; left:calc(800px * (24/640)); top:calc(800px * (8/640));}
.fix_menu{max-width:800px; width:100%; background:#68c0b5; padding:calc(800px * (29 / 640)) 0; position:fixed; bottom:0; }
.fix_menu p{text-align:center; color:#fff; font-size:calc(100vw * (30 / 640));line-height:1.2;}
.text_review{margin-bottom:calc(800px * (100 / 640));}
.checks {position: relative; margin-bottom: calc(800px * (20/640));}
.checks input[type="radio"] { position: absolute; width:calc(800px * (1/640)); height:calc(800px * (1/640)); padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: calc(800px * (40/640)); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top:calc(800px * (-4/640)); width:calc(800px * (29/640)); height:calc(800px * (29/640)); text-align: center; background: #fff; border: 1px solid #000; border-radius: 100%;}
.checks input[type="radio"]:checked + label:before { background: #fff; border-color: #000; }
.checks input[type="radio"]:checked + label:after { content: ''; position: absolute; top:calc(800px * (4/640)); left:calc(800px * (8/640)); width:calc(800px * (15/640)); height: calc(800px * (15/640)); background: #68c0b5; border-radius:50%;}

     span.date_wrap::before{
          width:calc(800px * (21 / 640));height:calc(800px * (21 / 640));
     }
     .child_birth_area{
          margin-top:calc(800px * (40 / 640))
     }
}
