@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
   letter-spacing:calc(100vw * (-.22/640));
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x:hidden; font-size:calc(100vw * (20/640)); font-family:MG090; font-weight:400;
}
img,iframe,video{max-width:100%;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul {
    list-style:none;
}

span, a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    display:inline-block;
}


input, select {
    vertical-align:middle;
    border:0;
}

.georgiai{font-family:georgiai;}
.georgiaz{font-family:georgiaz;}

.monbaiti{font-family:monbaiti;}
.cl:before{content:''; display:block;}
.cl::after{content:''; display:block; clear:both;}
div#review_wrap ul.product_category{
     margin-top:calc(100vw * (100 / 640));padding-left:calc(100vw * (40 / 640));width:100%;height:calc(100vw * (70 / 640));white-space:nowrap;
     overflow-y:visible;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;
     position:relative; margin-bottom:20px;
}
div#review_wrap ul.product_category::-webkit-scrollbar{
     display:none;
}
div#review_wrap ul.product_category li {
    width: auto;
    padding: 0 calc(100vw * (60 / 640));
    height: calc(100vw * (50 / 640));
    display: inline-block;
    border-radius: calc(100vw * (30 / 640));
    position: relative;
    margin-right: calc(100vw * (12 / 640));
    border: 1px solid rgba(255,255,255,.5);
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (50 / 640));
    color: #fff;}
   div#review_wrap ul.product_category li.active {
    background-color: #fff;
    border:none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    color:#68c0b5;}

div#review_wrap ul.product_category li:nth-of-type(4){margin-right:calc(100vw * (70 / 640));}

.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:30px 30px 0 0; margin:0 auto; padding:calc(100vw * (30 / 640)) calc(100vw * (40 / 640));
}

.view_content_wrap p{width:calc(100vw * (560 / 640)); font-size:calc(100vw * (18 / 640));
	font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  text-align: left;
  color: #000000; }
  .view_content_wrap p.first{margin-bottom:calc(100vw * (30 / 640));}

  @media all and (min-width:820px){
 body {max-width:800px; max-height:100vh; margin:0 auto;
   line-height: calc(800px * (26 / 640)); letter-spacing:calc(800px * (-.22/640));
    overflow-x:hidden; font-size:calc(800px * (20/640));

}
  }