@charset 'utf-8';
.bg_wrap{padding-bottom:calc(100vw * (135 / 640));font-family:'MG050'}
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(100vw * (30/640)) calc(100vw * (30/640)) 0 0; padding:calc(100vw * (80 / 640)) calc(100vw * (40 / 640)) calc(100vw * (575/640));font-family:'MG030';letter-spacing:calc(100vw * (-0.22 / 640))}
.bg_wrap h1{position: absolute;
    top: calc(100vw * (56 / 640));
    left: calc(100vw * (274 / 640));letter-spacing:calc(100vw * (-0.22 / 640))}
.view_content_wrap>p{font-size:calc(100vw * (20/640)); margin-bottom:calc(100vw * (41/640));}
.text_box{width:100%; font-size:calc(100vw * (20/640)); padding-bottom:calc(100vw * (17/640)); border-bottom:2px solid rgba(165,165,165,0.5); color:#000; transition:1s;font-family:'MG050';letter-spacing:normal;}
.btn{margin-top:calc(100vw * (242/640)); background:#68c0b5; padding:calc(100vw * (23/640)) 0 calc(100vw * (18/640)); border-radius:30px; box-shadow:0 5px 15px 0 rgba(0,0,0,.4);}
.btn p{text-align:center; color:#fff; font-size:calc(100vw * (20/640));line-height:1.2}

@media all and (min-width:820px){
.bg_wrap{padding-bottom:calc(800px * (135 / 640));}
.view_content_wrap{
  font-family: 210MGothicOTF030;letter-spacing:calc(800px * (-0.22 / 640))
  background:#fff; box-sizing:border-box; border-radius:calc(800px * (30/640)) calc(800px * (30/640)) 0 0; padding:calc(800px * (80 / 640)) calc(800px * (40 / 640)) calc(800px * (575/640));}
.bg_wrap h1{position: absolute;
    top: calc(800px * (63 / 640));
    left: calc(800px * (274 / 640));letter-spacing:calc(800px * (-0.22 / 640))}
.view_content_wrap>p{font-size:calc(800px * (20/640)); margin-bottom:calc(800px * (41/640));}
.text_box{width:100%; font-size:calc(800px * (20/640)); padding-bottom:calc(800px * (17/640));  border-bottom:2px solid rgba(165,165,165,0.5);color:#000; transition:1s;font-family:'MG050';letter-spacing:normal;}
.btn{margin-top:calc(800px * (242/640)); background:#68c0b5; padding:calc(800px * (23/640)) 0 calc(800px * (18/640)); border-radius:30px; box-shadow:0 5px 15px 0 rgba(0,0,0,.4);}
.btn p{text-align:center; color:#fff; font-size:calc(800px * (20/640));line-height:1.2}
}
