@charset 'utf-8';
.bg_wrap{padding-bottom:calc(100vw * (135 / 640));}
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(100vw * (30/640)) calc(100vw * (30/640)) 0 0; padding:calc(100vw * (88 / 640)) calc(100vw * (40 / 640)) calc(100vw * (500/640));}
.bg_wrap h1{position: absolute;
    top: calc(100vw * (56 / 640));
    left: calc(100vw * (264 / 640));}
.view_content_wrap>p{font-size:calc(100vw * (20/640)); margin-bottom:calc(100vw * (31/640));letter-spacing:calc(100vw * (-1.2 / 640))}
.text_box{width:100%; font-size:calc(100vw * (20/640)); padding-bottom:calc(100vw * (17/640)); border-bottom:calc(100vw * (2 / 640)) solid rgba(165,165,165,0.5); color:#a5a5a5; transition:1s;letter-spacing:calc(100vw * (-0.2 / 640))}
.view_content_wrap .color{font-size:calc(100vw * (17/640)); color:#fb8713; margin-top:calc(100vw * (15/640)); margin-bottom:calc(100vw * (40/640));}
.btn{margin-top:calc(100vw * (120/640)); background:#68c0b5; padding:calc(100vw * (23/640)) 0 calc(100vw * (18/640)); border-radius:30px; box-shadow:0 5px 15px 0 rgba(0,0,0,.4);letter-spacing:calc(100vw * (-1.02 / 640))}
.btn p{width:calc(100vw * (190/640)); margin:0 auto; color:#fff; font-size:calc(100vw * (20/640)); letter-spacing:calc(100vw * (-.2/640));line-height:1.2}

@media all and (min-width:820px){
.bg_wrap{padding-bottom:calc(800px * (135 / 640));}
.view_content_wrap{
  font-family: 210MGothicOTF030;
  background:#fff; box-sizing:border-box; border-radius:calc(800px * (30/640)) calc(800px * (30/640)) 0 0; padding:calc(800px * (88 / 640)) calc(800px * (40 / 640)) calc(800px * (500/640));}
.bg_wrap h1{position: absolute;
    top: calc(800px * (63 / 640));
    left: calc(800px * (264 / 640));}
.view_content_wrap>p{font-size:calc(800px * (20/640)); margin-bottom:calc(800px * (31/640));letter-spacing:calc(800px * (-1.2 / 640))}
.text_box{width:100%; font-size:calc(800px * (20/640)); padding-bottom:calc(800px * (17/640)); border-bottom:2px solid rgba(165,165,165,0.5); color:#a5a5a5; transition:1s;letter-spacing:calc(800px * (-0.2 / 640))}
.view_content_wrap .color{font-size:calc(800px * (17/640)); color:#fb8713; margin-top:calc(800px * (15/640)); margin-bottom:calc(800px * (40/640));letter-spacing:calc(800px * (-1.02 / 640))}
.btn{margin-top:calc(800px * (120/640)); background:#68c0b5; padding:calc(800px * (23/640)) 0 calc(800px * (18/640)); border-radius:30px; box-shadow:0 5px 15px 0 rgba(0,0,0,.4);}
.btn p{width:calc(800px * (190/640)); margin:0 auto; color:#fff; font-size:calc(800px * (20/640)); letter-spacing:calc(800px * (-.2/640));line-height:1.2}
}
